<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <h1>WELCOME TO SHERPUR PANCHAYAT</h1>
        <div id="nav">
            <button onclick="openNav()"><i id="menubar" class="fa-solid fa-bars"></i></button>
           

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
                <hr>
                <br>
                <a href="/">Home</a>
                <a href="/gallery">Gallery</a>
                <a href="/contact">Contact</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>

        </div>

        <div class="profile">
            <div class="image">
                <img src="C:\Users\sk632\OneDrive\Pictures\Thawe\113NZ_50\DSC_6989.JPG" alt="" class="profile_image">
            </div>
            <div class="text-data">
                <span class="name">Sujeet_choudhary</span>
                <span class="job">Student BCA</span>
                <span class="job">Address-Sherpur</span>
            </div>
             <div class="media-buttons">
                <a href="#" style="background-color: #4367b2" class="link">
                    <i class="fa-brands fa-facebook"></i>  
                </a>
                <a href="#" style="background-color: #e1306c" class="link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" style="background-color: #1da1f2" class="link">
                    <i class="fa-brands fa-twitter"></i>
                </a>
             </div>
        </div>

        <footer id="footer">
            <p>Made By Sujeet Kumar</p>
            &hearts;@Copyright2024&hearts;
            <p>Contact</p>
            <p>7281929165</p>

        </footer>
        <script src="js/index.js"></script>
        
</body>
</html>