<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>panchayat court</title>
    <style>
        #panch-info{
            height: auto;
            width: 85%;
            padding: 10px;
            border: 3px solid rgb(244, 225, 10);
            background-color: rgb(245, 245, 244);
            margin-left: 5%;
            margin-bottom: 25px;
            margin-top: 10px;
            box-shadow: 1px 10px 3px;

        }
        #panch-info p{
            font-size: 100%;
            margin: 2%;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO SHERPUR PANCHAYAT</h1>
        <div id="nav">
            <button onclick="openNav()"><i id="menubar" class="fa-solid fa-bars"></i></button>
           

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
                <hr>
                <br>
                <a href="/">Home</a>
                <a href="/gallery">Gallery</a>
                <a href="/contact">Contact</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
              </div>
             
          <div id="myDIV">    
            <a class="btn " href="/">Home</a>
            <a class="btn" href="/panchayat">Panch-member</a>
            <a class="btn active" href="/panchayatCourt">Panch-court</a>
          </div>
        </div>

        <div id="panch-info">
            <p>Panchayat Garm Kachahari, located in Sherpur, Muzaffarpur, Bihar, is a dynamic and progressive local self-government body. </p>

            <p>With a strong commitment to development and welfare, the Panchayat works tirelessly to improve the lives of its citizens. </p>

            <p>From providing basic amenities like water, sanitation, and healthcare to promoting education and employment opportunities, the Panchayat leaves no stone unturned.</p>

            <p>Several innovative initiatives, like digital literacy programs and women's empowerment schemes, have been launched by the Panchayat to foster inclusive growth.</p>

            <p>The Panchayat also takes pride in preserving the rich cultural heritage of the region, celebrating festivals like Chhath Puja and Durga Puja with great fervor.</p>

            <p>Under the leadership of its dedicated Sarpanch and Ward Members, Panchayat Garm Kachahari is scripting a new chapter of progress and prosperity for the people of Sherpur and beyond.</p>

            <p>With a focus on transparency, accountability, and community participation, the Panchayat is building a brighter future for all its citizens.</p>
            
        </div>

        <div id="datainfo">
            <ul id="spurinfo">
            <li><span>Dispute Resolution</span>: Resolving disputes between villagers, including land disputes, family disputes, and other civil matters.</li>
            <li><span>Criminal Cases</span>: Dealing with minor criminal cases like theft, assault, and vandalism.</li>
            <li><span>Mediation</span>: Mediating between parties to settle disputes amicably.</li>
            <li><span>Arbitration</span>: Arbitrating disputes and delivering verdicts.</li>
            <li><span>Maintenance of Law and Order</span>: Ensuring peace and order in the village.</li>
            <li><span>Revenue Collection</span>: Collecting taxes, fines, and other revenue on behalf of the government.</li>
            <li><span>Developmental Activities</span>: Overseeing developmental projects like road construction, water supply, and sanitation.</li>
            <li><span>Social Welfare</span>: Implementing social welfare schemes like pension distribution, scholarship programs, and healthcare initiatives.</li>
            <li><span>Dispute Prevention</span>: Encouraging villagers to resolve disputes amicably, reducing litigation.</li>
            <li><span>Legal Awareness</span>: Spreading legal awareness and educating villagers about their rights and responsibilities.</li>
            </ul>        
        </div>
        
        <footer id="footer">
            <p>Made By Sujeet Kumar</p>
            &hearts;@Copyright2024&hearts;
            <p>Contact</p>
            <p>7281929165</p>

        </footer>

        <script src="js/index.js"></script>
        <script src="js/active.js"></script>
</body>
</html>