<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <h1>WELCOME TO SHERPUR PANCHAYAT</h1>
        <div id="nav">
            <button onclick="openNav()"><i id="menubar" class="fa-solid fa-bars"></i></button>
           

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
                <hr>
                <br>
                <a href="/">Home</a>
                <a href="/gallery">Gallery</a>
                <a href="/contact">Contact</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
              </div>
             
          <div id="myDIV">    
            <a class="btn active" href="/">Home</a>
            <a class="btn" href="/panchayat">Panch-member</a>
            <a class="btn" href="/panchayatCourt">Panch-court</a>
          </div>
        </div>

        <! -----------slide-image --------->
        
        <div class="index-img">
              
            <div class="mySlides fade">
                <div id="image1">
                    <img id="image1" src="images/slide1.jpeg" alt="">
                </div>
            </div> 
            <div class="mySlides fade">
                <div id="image2">
                    <img id="image1" src="images/slide2.jpeg" alt="">
                </div>
            </div> 
            <div class="mySlides fade">
                <div id="image3">
                    <img id="image1" src="images/slide3.jpeg" alt="">
                </div>
            </div> 

        </div>
        <! dots/circle>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>


        <div id="notice"> <h3>NOTICE</h3>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi molestiae voluptatem placeat libero incidunt cupiditate beatae, officia ipsa cumque laborum velit magnam ab vel esse odit provident ipsam nulla Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci deleniti sapiente qui illo optio, id quisquam iste hic officiis et? Commodi iure alias, ea aspernatur assumenda pariatur porro a</p>
            <br>
        </div> 
        <div id="datainfo">
             <ul id="spurinfo">
                <li> <span>Locality Name</span> : Sherpur ( शेरपुर )</li>
                <li> <span>Block Name</span> : Mushahari</li>
                <li> <span>District</span> : Muzaffarpur</li>
                <li> <span>State</span> : Bihar</li>
                <li> <span>Pin code</span> : 842005</li>
                <li> <span>Post</span> : M.I.C Bela</li>
                <li> <span>Division</span> : Tirhut</li>
                <li> <span>Language</span> : Hindi, Urdu and Vajjika</li>
                <li> <span>Assembly constituency </span> : Bochaha Assembly constituency</li>
            </ul>
        </div>
        <div id="datainfo">
                <ul id="spurinfo">
                    <li><span>Location</span>: Sherpur Panchayat is located in the Muzaffarpur district of Bihar, India.</li>
                    <li><span>Population</span>: As of the 2011 census, the population of Sherpur Panchayat is approximately 25,000 people.</li>
                    <li><span>Villages</span>: Sherpur Panchayat consists of 15 villages, including Sherpur, Sitalpur, Majhaura, and others.</li>
                    <li><span>Agriculture</span>: The primary occupation of the residents is agriculture, with major crops including rice, wheat, and maize.</li>
                    <li><span>Education</span>: Sherpur Panchayat has several schools, including government and private institutions, offering education up to the 12th standard.</li>
                    <li><span>Healthcare</span>: The Panchayat has a primary health center and several private clinics, providing basic medical facilities to the residents.</li>
                    <li><span>Economy</span>: The local economy is primarily based on agriculture and small-scale industries like pottery and weaving.</li>
                    <li><span>Culture</span>: Sherpur Panchayat celebrates various festivals like Chhath, Durga Puja,Diwali and Holi, showcasing the rich cultural heritage of the region.</li>
                    <li><span>Connectivity</span>: The Panchayat is connected to nearby towns and cities through regular bus services and a well-maintained road network.</li>
                    <li><span>Development initiatives</span>: Sherpur Panchayat has implemented various development projects, including sanitation and drinking water initiatives, under government schemes like Swachh Bharat Abhiyan and Jal Jeevan Mission.</li>
                </ul>
        </div>

        <footer id="footer">
            <p>Made By Sujeet Kumar</p>
            &hearts;@Copyright2024&hearts;
            <p>Contact</p>
            <p>7281929165</p>

        </footer>

        <script src="js/index.js"></script>
        
</body>
</html>