<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>panchayat-member</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/pachmem.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>WELCOME TO SHERPUR PANCHAYAT</h1>
        <div id="nav">
            <button onclick="openNav()"><i id="menubar" class="fa-solid fa-bars"></i></button>
           

            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
                <a href="/">Home</a>
                <a href="/gallery">Gallery</a>
                <a href="/contact">Contact</a>
                <a href="/log">Login</a>
                <a href="/register">Register</a>
              </div>

             <! ------menubar--- >
            <div id="myDIV">    
                <a class="btn" href="/">Home</a>
                <a class="btn active" href="/panchayat">Panch-member</a>
                <a class="btn" href="/panchayatCourt">Panch-court</a>
            </div>
        </div>

            <h2>Panchayat Member</h1>
            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Naresh Parsad</p>
                    <p><span>Post</span>: Mukhiya</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 9334332818</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Bablu Kumar</p>
                    <p><span>Post</span>: Up Mukhiya</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 8789302123</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Santosh Kumar Jha</p>
                    <p><span>Post</span>: panchayat Samiti</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 9304225543</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Nandan Kumar Jha</p>
                    <p><span>Post</span>: Sarpanch</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 93042543</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Amarjeet Kumar</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 1</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 7004735982</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Rakesh Kumar</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 2</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 7717749689</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Anukul</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 4</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 9279110407</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Puja Devi</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 5</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 9955659447</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Kaushalya Devi</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 6</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 6291948140</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Shail Devi</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 7</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 7643063985</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Rikt</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 8</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: #######</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Wasim Akhtar</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 9</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 7488281858</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Asma Khatun</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 10</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 7738322011</p>
                </div>
            </div>

            <div id="box">
                <div>
                    <img id="pic" src="images/profile.webp" alt="">
                </div>
                <div id="info">
                    <p><span>Name</span>: Neelu Devi</p>
                    <p><span>Post</span>: Ward Member</p>
                    <p><span>Ward No</span>: 11</p>
                    <p><span>Year</span>: 2021-2026</p>
                    <p><span>Mobile No</span>: 9162309953</p>
                </div>
            </div>


            <! ----footer-------- >
            <footer id="footer">
                <p>Made By Sujeet Kumar</p>
                &hearts;@Copyright2024&hearts;
                <p>Contact</p>
                <p>7281929165</p>

            </footer>
            <script src="js/index.js"></script>
            <script src="js/active.js"></script>
</body>
</html>