<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Registation</title>
    <style>
        *{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        
        #succ{
                height:40%;
                width:30%; 
                margin-top:8%;
                margin-left:30%;
                background-color:aliceblue;
                border : 3px solid black;
                border-radius: 20px;
                text-align: center;
                                
        }
        p{
            font-size: 300%;
            margin-top: 25%;
            color: blue;
        
        }
        button{
            width: 25%;
            padding: 2%;
            margin-top: 20px;
            margin-bottom: 5%;
            background-color: blue;
        }
       #tick{
            font-size: 1000%;
            margin-top: 10%;
       }
       @media screen and (min-width:40px) and (max-width:430px){
        #succ{
                height:70%;
                width:80%; 
                margin-left: 10%;
                margin-top: 35%;
        }

       }
       @media screen and (min-width:430px) and (max-width:700px){
        #succ{
                height:60%;
                width:70%; 
                margin-left: 10%;
                margin-top: 30%;
        }

       }
       @media screen and (min-width:700px) and (max-width:1100px){
        #succ{
                height:40%;
                width:50%; 
                margin-left: 20%;
                margin-top: 20%;
        }

       }
    </style>
</head>
<body>
 <div id="succ">
    <i id="tick" class="fa-regular fa-circle-check"></i>
    <p>Successfully Registration</p>
    <a href="/"><button>OK</button></a>
 </div>
          
</body>
</html>